{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Atribución</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=DynaPuff&display=swap" rel="stylesheet">
        
        <link rel="stylesheet" type="text/css" href="{% static 'terceros/css/atribucion.css' %}">
    </head>
    <body>
        <section id="flaticon">
            <div class="fla">
                <h1>¡Gracias Flaticon!</h1>
                <p>Los siguientes botones son las atribuciones correspondientes a las imagenes usadas en el sitio.</p>
                <a href="https://www.flaticon.es/iconos-gratis/apasionado" target="_blank" title="apasionado iconos">Apasionado iconos creados por Freepik - Flaticon</a>
                <a href="https://www.flaticon.es/iconos-gratis/responsabilidad" target="_blank" title="responsabilidad iconos">Responsabilidad iconos creados por noomtah - Flaticon</a>
                <a href="https://www.flaticon.es/iconos-gratis/aprendiz" target="_blank" title="aprendiz iconos">Aprendiz iconos creados por iconixar - Flaticon</a>
            </div>
        </section>
        
        <section id="freefrontend">
            <div class="free">
                <h1>¡Gracias FreeFrontend!</h1>
                <p>El siguiente botón es la atribucion de créditos por el uso del template del error 404.</p>
                <a href="https://freefrontend.com/html-css-404-page-templates/" target="_blank" title="404 ERROR EXAMPLE #3">404 ERROR EXAMPLE #3</a>
            </div>
        </section>

        <section id="freefrontend">
            <div class="free">
                <h1>¡Gracias WikiPedia!</h1>
                <p>Los siguientes botones es la atribución de créditos por uso de imágenes de WikiPedia usadas en el sitio.</p>
                <a href="https://commons.wikimedia.org/w/index.php?curid=83641387" target="_blank" rel="noopener noreferrer">De Amillians - Trabajo propio, CC BY-SA 4.0</a>
                <a href="https://commons.wikimedia.org/w/index.php?curid=117330237" target="_blank" rel="noopener noreferrer">De Cointelegraph, CC BY 3.0</a>
                
            </div>
        </section>


        <div class="war">
            <p><b>ADVERTENCIA: </b> Al salir del sitio estas aceptando los términos y condiciones del sitio web externo. <br>
            No me hago responsable de los datos que recopilen otros sitios que no sea <a href="https://estuardodev.com">estuardodev.com</a></p>
        </div>
    </body>
</html>